.carousel-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  /* height: 24vh; */
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}
.home-container {
  background-color: transparent;
  /* height: 24vh; */
  width: 100%;
  margin: auto;
}
.carousel-wrapper {
  /* border: solid 2px; */
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  /* height: 24vw; */
}
.carousel-image {
  width: 100%;
  margin: 0%;
  /* height: 24vw; */
  flex-shrink: 0;
}

.carousel-button {
  border: solid 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}
