.rent-equipment-container {
  /* border: solid 1px; */
  width: 100%;
  height: 86vh;
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.rent-equip-card {
  /* border: solid 1px; */
  width: 45vw;
  height: 25vh;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
  margin-top: 2vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.re-img {
  border-bottom: solid 1px;
  height: 60%;
  width: 100%;
  margin: 0%;
}
.re-details {
  margin: 0%;
  /* border: solid 1px; */
  height: 38%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px; */
}

.re-details > div {
  height: 80%;
  width: 90%;
  /* border: solid 1px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h4 {
  margin: 0%;
}

.re-details > div > * {
  font-size: 11px;
}
.btn-re-view-details {
  border: none;
  width: 80%;
  height: 40%;
  margin: auto;
  border-radius: 5px;
  background-color: aquamarine;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.re-details > div > span {
  float: right;
  /* margin-left: 20vw; */
}

.vdimg {
  width: 25vw;
  margin-left: 35vw;
  margin-top: 5vh;
}

.vd-Heading {
  text-align: center;
}

.imgs-Containers {
  /* border: solid 1px; */
  width: 90vw;
  height: 30vh;
  margin: auto;
  display: flex;
}
.details-container {
  /* border: solid 1px; */
  width: 90vw;
  height: 42vh;
  margin: auto;
}

.details-container > * {
  /* margin-left: 10vw; */
  width: 60vw;
  height: 3vh;
  display: flex;
  justify-content: start;
  align-items: center;
}
.time-slote,
.disc-box {
  border: solid 1px;
  height: 5vh;
  width: 65vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.time-slote > label {
  /* border: solid 1px; */
  padding: 0%;
  margin: 0%;
  font-weight: 10px;
  position: fixed;
  top: 72vh;
  left: 10vw;
  background-color: #c1d8c3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5vh;
}
.time-slote > label > h3 {
  margin: 0%;
}
.disc-box > label > h3 {
  margin: 0%;
}

.disc-box {
  width: 90%;
  height: 5vh;
  padding-top: 70px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: scroll;
}

.disc-box > label {
  font-weight: 10px;
  position: fixed;
  top: 75.5vh;
  left: 10vw;
  background-color: #c1d8c3;
}

.btn-book-now {
  border: none;
  outline: none;
  color: #fff;
  background-color: #1a73e8;
  /* padding: 0.625rem 1.25rem; */
  text-align: center;
  padding: 0%;
  height: 5vh;
  margin: auto;
  width: 30vw;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
